{% extends 'sentinel/base.html' %}
{% block title %}Sentinel · Home{% endblock title %}

{% block body %}
	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar" class="">
			<div class="p-4 pt-5">
	  		<h3 id="sidebarTitle"><span> <b>SENTINEL</b> </span> </h3>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{% url 'sentinel:home' %}">Live Feed</a>
          </li>
          <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="{% url 'sentinel:generalReports' %}">General Reports</a>
              </li>
              <li>
                  <a href="{% url 'sentinel:incidentList' %}">Incident Reports</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{% url 'sentinel:notifications' %}">Notifications</a>
          </li>
        </ul>
        <div class="footer">
          <p>SENTINEL</p>
        </div>

      </div>
  	</nav>

      <!-- Page navbar  -->
    <div id="content" class="p-4 p-md-3">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
      </nav>
      <!-- Page Content-->
      <div class="mb-1">
        <div class="pageTitle">
          <h4 class="mb-2">LIVE FEED</h4>
        </div>
       <!-- <video width="100%" height="100%" autoplay="autoplay">
          <source src="http://192.168.0.24:8080">
        </video><br>-->
				<img src="{% url 'sentinel:video_feed' %}" class="img-fluid mb-5 mx-auto d-block"/>
			<button class="button" type="button" name="button" class="button">
        SEND ALERT
      </button>
    </div>
	</div>
</div>
{% endblock body %}
