<!doctype html>
<html lang="en">
  <head>
  	<title>SENTINEL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/gen_reports_styles.css">
    <link rel="stylesheet" href="css/sidebar_extra_styles.css">

  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="p-4 pt-5">
          <h3 id="sidebarTitle"><span> <b>SENTINEL</b> </span> </h3>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="index.html">Live Feed</a>
           </li>
            <li>
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="GenReports.html">General Reports</a>
                </li>
                <li>
                    <a href="IncidentList.html">Incident Reports</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="Notifs.html">Notifications</a>
            </li>
          </ul>
          <div class="footer">
            <p>SENTINEL</p>
          </div>

        </div>
      </nav>

        <!-- Page navbar  -->
      <div id="content" class="p-4 p-md-3">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
          </div>
        </nav>

        <!-- [Page Content]-->

      </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
